body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  border: 2px solid red;
}

#clock {
  position: relative;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid green;
}

#hourHand,
#minuteHand,
#secondHand 
/* {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50% 100%; */
  /*transform-origin: bottom; this gives the same effect as "50% 100%;" */
  /* background-color: #333;
}*/ {
  position: absolute;
  /*background: black; */
  border-radius: 10px;
  transform-origin: bottom;
}

/*.hour-hand */
#hourHand {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  background: black;

  /*transform: translateX(-4px) rotate(0deg);*/
}

#minuteHand {
  width: 1.6%;
  height: 35%;
  top: 14%;
  left: 48.9%;
  background: black;
  transform: translateX(-2px) rotate(0deg);
}

/* the minutes-hand is usually thicker than seconds-hand
   and also slightly shorter */
/*#minuteHand {
  background: green;
  height: 5px;
  width: 45%;
  border-radius: 8px;
} */

#secondHand {
  width: 1%;
  height: 45%;
  top: 4%;
  left: 49.25%;
  background: red;
  /*transform: translateX(-1px) rotate(0deg);*/
}
